.GroudGlassContent {
  background: linear-gradient(135deg, #9bdaff 0%, #ebedee 100%);
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  *:focus-visible {
      outline: none;
  }
  .GroundGlassFilter {
    height: 80%;
    width: 80%;
    min-width: 1024px;
    background-color: rgba(235, 235, 235, 0.3);
    backdrop-filter: blur(10px);
    border-radius: 20px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
    transition: all 0.5s ease-in-out;
    perspective: 800px;
    position: relative;
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
    justify-content: space-between;
    padding: 0.5rem 1rem;
    position: relative;
    overflow: hidden;
    .pickList {
      cursor: pointer;
      height: 200px;
      margin: 0.5rem 0;
      position: relative;
      border-radius: 10px;
    }
    .active {
      width: 100%;
      position: absolute;
      top: 0.5rem;
      z-index: 9;
      animation: spried 0.5s ease-in-out forwards;
    }
    .fadeout {
      animation: fadeOut 0s ease-in-out forwards;
    }
    .fadein {
      animation: fadeIn 0.6s ease-in-out forwards;
    }
    @keyframes spried {
      0% {
        width: 0;
        height: 0;
      }
      100% {
        width: calc(100% - 2rem);
        height: calc(100% - 2rem);
      }
    }
    @keyframes fadeIn {
      0% {
        opacity: 0;
      }
      100% {
        opacity: 1;
      }
    }
    @keyframes fadeOut {
      100% {
        opacity: 0;
      }
    }
    .picbox{
        display: block;
        position: absolute;
        width: 200px;
        height: 160px;
        left: 50%;
        top: 50%;
        margin: -80px 0 0 -100px;
        border-radius: 10px;
        background-size: cover;
        transition: all 0.5s ease-in-out;
    }
    // div::after {
    //   content: "";
    //   position: absolute;
    //   top: -10%;
    //   left: -10%;
    //   width: 120%;
    //   height: 120%;
    //   background: inherit;
    //   transform: scale(.95);
    //   filter: blur(10px) brightness(80%) opacity(0.2);
    // }
  }
  .GroundGlassFilter:hover {
    .picbox:nth-child(2) {
        transform: translateX(20px) translateY(20px) rotateY(0deg) rotateX(0deg);
        box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
    }
    .picbox:nth-child(3) {
        transform: translateX(40px) translateY(40px) rotateY(0deg) rotateX(0deg);
    }
  } 
  .GroundGlassFilter:focus {
    background-color: rgba(255, 255, 255, 0.1);
    .picbox:nth-child(1) {
        transform: translateX(0px) translateY(0px) rotateY(0deg) rotateX(0deg);
        top: 1rem;
        left: 20px;
        margin: 0;
        transition-delay: 0s;
    }
    .picbox:nth-child(2) {
        transform: translateX(0px) translateY(0px) rotateY(0deg) rotateX(0deg);
        top: 1rem;
        left: 240px;
        margin: 0;
        transition-delay: 0.01s;
    }
    .picbox:nth-child(3) {
        transform: translateX(0px) translateY(0px) rotateY(0deg) rotateX(0deg);
        top: 1rem;
        left: 460px;
        margin: 0;
        transition-delay: 0.02s;
    }
    .picbox:hover {
        animation: shineing 2s infinite ease-in-out;
    }
    @keyframes shineing {
        50% {
            box-shadow: 0 0 4px 0px rgb(208, 208, 208);
        }
    }
  }
}
